{% if leaderboard|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for item in leaderboard %}
                <tr>
                    <td>{{ type == 'week' or type == 'month' ? item[type ~ 'ly_rank'] : item.rank }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ type == 'week' or type == 'month' ? item['this_' ~ type ~ '_points'] : item.points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data</p>
{% endif %}